---
import { SCHEDULE } from '~/data/site';
---

<div class="schedule">
  {SCHEDULE.map(({ day, start, end, note }) => (
    <div class="schedule-row">
      <span class="day">{day}</span>
      <span class="time">{start} to {end}</span>
      <span class="note">{note}</span>
    </div>
  ))}
</div>
